POSTGRES_DB=check_luck
POSTGRES_USER=check_luck
POSTGRES_PASSWORD=change_me

DB_HOST=db
DB_PORT=5432

PROMO_START_DATE=2026-10-01
PROMO_END_DATE=2026-12-31

DJANGO_SECRET_KEY=change_me
DJANGO_DEBUG=True