{% extends "base.html" %}

{% block title %}Правила акции{% endblock %}

{% block content %}
<section class="info-card">
    <h1>Правила акции</h1>
    <p>Зарегистрируйте чек за покупку с {{ promo_start|date:"d.m.Y" }} по {{ promo_end|date:"d.m.Y" }} включительно.</p>
    <p>Сумма чека должна быть не меньше 1000 руб. Укажите ФН, ФД, ФП, дату, время и сумму как на чеке.</p>
    <p>Каждый чек можно зарегистрировать только один раз. После отправки его статус появится в личном кабинете.</p>
    <a class="button" href="{% url 'receipts:create' %}">Зарегистрировать чек</a>
</section>
{% endblock %}
